/* System variables */

html,
body {
  height: 100%;
}

.is-page .is-wrapper {
  padding: 0rem .75rem !important;
}

main {
  background: #F3F6F9;
  padding: 0 !important;
}

main .is-content {

  padding-left: 1.625rem !important;
  padding-right: 1.875rem !important;
}

aside {
  max-width: 240px !important;
  min-height: 100%;
  width: 100%;
  background: #E4EDF5;
  box-shadow: inset -1px 0px 0px #E9F0F8;
  padding: 0 !important;
}

aside.show {
  display: block;
}

.is-sidebar .is-sidebar__events {
  padding: 20px 15px;
}

.is-sidebar .event-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #191F22;
}

.is-sidebar .events-date {
  background: #fff;
  padding: 5px 4px 0;
}

.is-sidebar .events-date .item {
  max-width: 25px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.is-sidebar .events-date .item.active .number {
  background: #DF193D;
}

.is-sidebar .events-date .item.active .day {
  color: #DF193D;
}

.is-sidebar .events-date .item span {
  display: block;
  text-align: center;
}

.is-sidebar .events-date .item .number {
  max-height: 30px;
  height: 100%;
  background: #2B5D84;
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  padding: 6px 0;
}

.is-sidebar .events-date .item .day {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  text-transform: uppercase;
  color: #373735;
  margin-top: 2px;
}

.is-sidebar .is-sidebar__menu .navbar-nav {
  margin-top: 0;
}

.is-sidebar .is-sidebar__menu .nav-item {
  border-top: 1px solid #D1DEE9;
  padding: 1.25rem;
}

.is-sidebar .is-sidebar__menu .nav-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 120%;
  color: #191F22;
  cursor: pointer;
}

.is-sidebar .is-sidebar__menu .nav-item div {
  width: 0;
  max-width: 240px;
  background: #ccc;
  transition: all .625s;
  position: absolute;
  top: 0;
  padding: 3rem 0 0;
  z-index: 0;
  color: red;
  visibility: hidden;
  opacity: 0;
}

.is-sidebar .is-sidebar__menu .nav-item div.open {
  width: 100%;
  transform: translateX(220px);
  transition: all .625s;
  visibility: visible;
  opacity: 1;
}

.is-sidebar .is-sidebar__date {
  background: #CDDDEB;
  padding: 10px;
  justify-content: center;
}

.is-sidebar .is-sidebar__date .calendar {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  text-align: left;
  justify-content: center;
}

.is-sidebar .is-sidebar__date .calendar div {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}

.is-sidebar .is-sidebar__date .calendar .text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 130%;
  color: #2B5D84;
  margin-left: 10px;
}

.is-sidebar .is-sidebar__catalog {
  background: #008ED8;
  padding: 1rem 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}

.is-sidebar .is-sidebar__catalog .btn {
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0;
  margin-bottom: 0;
}

.is-sidebar .is-sidebar__catalog .btn img {
  margin-left: 10px;
}

.is-page .is-navbar__top {
  background: linear-gradient(90deg, #00466E 0%, #009AD2 51.04%, #0A34D0 100%);
  padding: 10px 15px;
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 10;
}

.is-page .is-navbar__top li {
  margin-right: 2.5rem;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}

.is-page .is-navbar__top a {
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}

.is-page .is-navbar__top a img {
  margin-right: 10px;
}

.is-page .is-navbar__top li.list-divider {
  opacity: 0.3;
  border: 1px solid #FFFFFF;
  transform: rotate(0deg);
}

.is-page .is-navbar__top li.nav-item.contacts {
  text-decoration: underline;
  color: #fff;
}

.is-page .is-navbar__top .navbar-nav.ml-auto li {
  margin-right: 0;
  margin-left: 2.5rem;
}

.is-page .is-header {
  padding: 1.35rem !important;
  background: #FFFFFF;
  box-shadow: inset 0px -1px 0px #E9F0F8;
}

.is-page .is-header__title {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0 !important;
}

.is-page .is-header__title .text {
  text-align: left;
  margin-left: 1.25rem;
}

.is-page .is-header__title .text .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 110%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #373735;
}

.is-page .is-header__title .text .sub {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14.7px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #373735;
}

.is-page .is-header__search {
  border: 1px solid #D0DDEA;
  border-radius: 5px;
}

.is-page .is-header__search input {
  height: 50px;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 110%;
  color: #191F22;
  opacity: 0.5;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.is-page .is-header__search button {
  border: none;
}

.is-page .is-header .is-socials .btn {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 5px;
  font-size: 1.25rem;
}

.is-page .is-header .is-socials .btn.rss {
  color: #fd9d3e;
}

.is-page .is-header .is-socials .btn.vk {
  color: #4a76a8;
}

.is-page .is-header .is-socials .btn.ok {
  color: #ee8208;
}

.is-page .is-header .is-socials .btn.fb {
  color: #1877f2;
}

.is-socials .btn.tg {
  color: #24a1de;
}

.is-page .is-header .is-socials .btn.inst{
  color: #e33165;
}

.is-page .is-header .is-socials .form-select {
  border: 1px solid #008ED8;
  margin-left: 2rem;
  width: 60px;
  height: 50px;
  padding: 1.1rem .5rem 1rem .5rem;
  background-position: right .65rem center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 110%;
  text-transform: uppercase;
  color: #2B5D84;
  background-image: url(../img/gak_select_arrow.svg);
  background-size: 6px 4px;
}

/* Index page */

.is-index .is-announcement {
  padding: 1.875rem 0 1.5rem;
}

.is-index .is-announcement .is-announcement__stream {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 1rem 1.25rem;
  background: #FFFFFF;
  border: 3px solid #008ED8;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #008ED8;
  align-items: center;
}

.is-index .is-announcement__stream .text {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  text-align: left;
  margin-left: 1rem;
}

.is-index .is-themes {
  background: #FFFFFF;
  border: 1px solid #E9F0F8;
  box-sizing: border-box;
  border-radius: 5px;
}
