/* System variables */

html,
body {
  height: 100%;
  background: #F3F6F9;
}

a {
  text-decoration: none !important;
}

.is-page .is-wrapper {
  padding: 0rem .75rem !important;
}

main {
  background: #F3F6F9;
  padding: 0 !important;
  margin-left: 240px;
  padding-top: 40px !important;
}

main .is-content {

  padding-left: 1.625rem !important;
  padding-right: 1.875rem !important;
}

aside {
  max-width: 240px !important;
  min-height: 100%;
  width: 100%;
  background: #E4EDF5;
  box-shadow: inset -1px 0px 0px #E9F0F8;
  padding: 0 !important;
  position: fixed;
  padding-top: 40px !important;
}

aside.show {
  display: block;
}

.is-sidebar .is-sidebar__events {
  padding: 20px 15px;
}

.is-sidebar .event-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #191F22;
}

.is-sidebar .events-date {
  background: #fff;
  padding: 5px 4px 0;
}

.is-sidebar .events-date .item {
  max-width: 25px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.is-sidebar .events-date .item.active .number {
  background: #DF193D;
}

.is-sidebar .events-date .item.active .day {
  color: #DF193D;
}

.is-sidebar .events-date .item span {
  display: block;
  text-align: center;
}

.is-sidebar .events-date .item .number {
  max-height: 30px;
  height: 100%;
  background: #2B5D84;
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  padding: 6px 0;
}

.is-sidebar .events-date .item .day {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  text-transform: uppercase;
  color: #373735;
  margin-top: 2px;
}

.is-sidebar .is-sidebar__menu .navbar-nav {
  margin-top: 0;
}

.is-sidebar .is-sidebar__menu .nav-item {
  border-top: 1px solid #D1DEE9;
  padding: .985rem 1.25rem;
}

.is-sidebar .is-sidebar__menu .nav-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 120%;
  color: #191F22;
  cursor: pointer;
}

.is-sidebar .is-sidebar__menu .nav-item .is-subm {
  width: 100%;
  max-width: 240px;
  background: #FFFFFF;
  transition: all .625s;
  position: absolute;
  top: 0;
  padding: 3rem 0 0;
  z-index: 99999;
  color: red;
  visibility: visible;
  opacity: 1;
  background: #ccc;
  transform: translateX(240px);
  height: 100%;
  list-style: none;
  left: 0;
}

.is-sidebar .is-sidebar__menu .nav-item .is-subm.open {
  width: 100%;
  transform: translateX(220px);
  transition: all .625s;
  visibility: visible;
  opacity: 1;
  -webkit-box-shadow: -30px 0px 40px rgba(0,0,0,.5);
  box-shadow: -30px 0px 40px rgba(0,0,0,.5);
}

.is-sidebar .is-sidebar__date {
  background: #CDDDEB;
  padding: 10px;
  justify-content: center;
}

.is-sidebar .is-sidebar__date .calendar {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  text-align: left;
  justify-content: center;
}

.is-sidebar .is-sidebar__date .calendar div {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}

.is-sidebar .is-sidebar__date .calendar .text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 130%;
  color: #2B5D84;
  margin-left: 10px;
}

.is-sidebar .is-sidebar__catalog {
  background: #008ED8;
  padding: 1rem 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}

.is-sidebar .is-sidebar__catalog .btn {
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0;
  margin-bottom: 0;
}

.is-sidebar .is-sidebar__catalog .btn img {
  margin-left: 10px;
}

.is-page .is-navbar__top {
  background: linear-gradient(90deg, #00466E 0%, #009AD2 51.04%, #0A34D0 100%);
  padding: 10px 15px;
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 10;
  position: fixed;
  width: 100%;
}

.is-page .is-navbar__top li {
  margin-right: 2.5rem;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}

.is-page .is-navbar__top a {
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}

.is-page .is-navbar__top a img {
  margin-right: 10px;
}

.is-page .is-navbar__top li.list-divider {
  opacity: 0.3;
  border: 1px solid #FFFFFF;
  transform: rotate(0deg);
}

.is-page .is-navbar__top li.nav-item.contacts {
  text-decoration: underline;
  color: #fff;
}

.is-page .is-navbar__top .navbar-nav.ml-auto li {
  margin-right: 0;
  margin-left: 2.5rem;
}

.is-page .is-header {
  padding: 1.9rem !important;
  background: #FFFFFF;
  box-shadow: inset 0px -1px 0px #E9F0F8;
}

.is-page .is-header__title {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0 !important;
}

.is-page .is-header__title .text {
  text-align: left;
  margin-left: 1.25rem;
}

.is-page .is-header__title .text .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 110%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #373735;
}

.is-page .is-header__title .text .sub {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14.7px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #373735;
}

.is-page .is-header__search {
  border: 1px solid #D0DDEA;
  border-radius: 5px;
}

.is-page .is-header__search input {
  height: 50px;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 110%;
  color: #191F22;
  opacity: 0.5;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.is-page .is-header__search button {
  border: none;
}

.is-page .is-header .is-socials .btn,
.is-page .is-footer .is-socials .btn {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 5px;
  font-size: 1.25rem;
  background: #fff;
  width: 40px;
  border-radius: 50%;
}

.is-socials .btn.rss {
  color: #fd9d3e;
}

.is-socials .btn.vk {
  color: #4a76a8;
}

.is-socials .btn.ok {
  color: #ee8208;
}

.is-socials .btn.fb {
  color: #1877f2;
}

.is-socials .btn.tg {
  color: #24a1de;
}

.is-socials .btn.inst{
  color: #e33165;
}

.is-page .is-header .is-socials .form-select {
  border: 1px solid #008ED8;
  margin-left: 2rem;
  width: 60px;
  height: 50px;
  padding: 1.1rem .5rem 1rem .5rem;
  background-position: right .65rem center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 110%;
  text-transform: uppercase;
  color: #2B5D84;
  background-image: url(../img/gak_select_arrow.svg);
  background-size: 6px 4px;
}

/* Index page */

.is-index .is-announcement {
  padding: 1.875rem 0 1.5rem;
}

.is-index .is-announcement .is-announcement__stream {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 1rem 1.25rem;
  background: #FFFFFF;
  border: 3px solid #008ED8;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #008ED8;
  align-items: center;
  max-height: 66px;
}

.is-index .is-announcement__stream .text {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  text-align: left;
  margin-left: 1rem;
}

.is-index .is-announcement .is-announcement__announce {
  background: #FFFFFF;
  border: 3px solid #008ED8;
  box-sizing: border-box;
  border-radius: 5px;
  max-height: 66px;
  height: 100%;
  padding: .5rem;
}

.is-index .is-announcement__announce-content {
  background: #FFFFFF;
  border: 1px dashed #008ED8;
  box-sizing: border-box;
  border-radius: 3px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  max-height: 50px;
  height: 100%;
  overflow: hidden;
}

.is-index .is-announcement__announce-content p {
  margin-bottom: 0;
  margin-left: 1.25rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 120%;
  color: #008ED8;
}

.is-index .is-themes,
.is-index .is-news {
  background: #FFFFFF;
  border: 1px solid #E9F0F8;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 1.25rem 1.25rem 0;
  margin-bottom: 1.25rem;
}

.is-index .is-themes .is-themes__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 120%;
  color: #191F22;
  margin-top: 1.125rem;
}

.is-index .is-themes .col-md-3:first-child {
  width: 50%;
  float: left;
  height: 500px;
}

.is-index .is-themes__carousel {
  overflow: hidden;
  border-radius: 5px;
}

.is-index .is-themes__carousel .uk-icon svg {
  display: none;
}

.is-index .is-themes__carousel .uk-overlay {
  background: rgba(0, 142, 216, 0.3);
  border-radius: 5px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  margin: auto;
  padding: 20px !important;
}

.is-index .is-themes__carousel .uk-overlay p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 110%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.7;
  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
  margin: 0px 10px;
}

.is-index .is-themes__carousel .uk-panel {
  min-height: 420px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.is-index .is-themes__carousel .uk-overlay h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  margin: 1rem auto 0 !important;
}

.is-index .is-themes__carousel .uk-overlay .btn {
  -webkit-box-shadow: none;
  box-shadow: none;
  display: inline-block !important;
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.is-index .is-themes__carousel .uk-overlay .btn span {
  background: #008ED8;
  padding: 7px 10px;
  border-radius: 2px;
}

.is-index .is-themes .is-themes__card {
  -webkit-box-shadow: none;
  box-shadow: none;
  min-height: 202px;
  margin-bottom: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  padding: 1.125rem;
}

.is-index .is-themes .is-themes__card .card-content {
  padding: 20px;
  position: absolute;
  background: rgba(0, 142, 216, 0.3);
  border-radius: 5px;
  bottom: .625rem;
  left: .625rem;
  right: .625rem;
}

.is-index .is-themes .is-themes__card .card-content p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 110%;
  text-align: center !important;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.7;
  margin: 0 auto;
}

.is-index .is-themes .is-themes__card .card-content h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  margin: 0px 10px;
}

.is-index .is-themes .is-themes__card.photoreport .label {
  position: absolute;
  top: .5rem;
  left: 0;
  right: 0;
  text-align: center;
}

.is-index .is-themes .is-themes__card.photoreport .label span {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #008ED8;
  border-radius: 2px;
  padding: 7px 10px;
}

.is-index .is-news {}

.is-index .is-news__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 120%;
  color: #191F22;
}

.is-index .is-news__tabs .nav-item .nav-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 110%;
  text-transform: uppercase;
  color: #191F22;
  padding: .5rem 1rem;
  margin-bottom: 0;
}

.is-index .is-news__tabs .nav-item .nav-link.active,
.is-index .is-news__tabs .nav-item .nav-link.all-news {
  border-bottom: none;
  color: #008ED8;
  margin-bottom: 0;
}

.is-index .is-news__tabs .nav-item .nav-link.all-news {
 }

.is-index .is-news .is-news__subscribe {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #ccc;
  padding: 13px 13px;
  background: #008ED8;
  border-radius: 3px;
  color: #fff;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;align-items: center;
  justify-content: center;
}

.is-index .is-news .is-news__subscribe img {
  margin-right: 10px;
}

.is-index .is-news .is-news__card {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #FFFFFF;
  border: 3px solid #ECF4FC;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 1.25rem;
  min-height: 191px;
  position: relative;
}

.is-index .is-news .is-news__card .badge {
  background: #F8FAFC;
  border-radius: 2px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  position: absolute;
  display: flex;
  text-align: center;
  text-transform: uppercase;
  color: #ADC0CD;
  margin: 0 auto;
  left: 20px;
  top: 20px;
  padding: 6px;
}

.is-index .is-news .is-news__card .badge span:last-child {
  margin-left: 7px;
}

.is-index .is-news .is-news__card .badge span:last-child img {
  margin-left: 7px;
  margin-right: 3px;
}

.is-index .is-news .is-news__card .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 120%;
  color: #191F22;
  position: absolute;
  top: 50px;
  margin-bottom: 0;
}

.is-index .is-news .is-news__card .date,
.is-index .is-news .is-news__card .icon {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 110%;
  color: #191F22;
  opacity: 0.3;
  position: absolute;
  top: 128px;
  margin-bottom: 0;
}

.is-index .is-news .is-news__card .icon {
  right: 20px;
}

.is-index .is-news .is-news__card .link {
  -webkit-box-shadow: none;
  box-shadow: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  bottom: 20px;
  padding: 0;
  margin-bottom: 0;
}

.is-index .is-banner .is-banner__place {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  min-height: 129px;
  background-image: url(../img/banner_bg.png);
  border-radius: 5px;
}

.is-index .is-projects .col-lg-4 {
  padding: .75rem;
}

.is-index .is-projects .is-projects__card {
  background: #FFFFFF;
  border: 1px solid #E9F0F8;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 2rem 1.25rem 1.25rem;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.is-index .is-projects__card .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 120%;
  color: #373735;
  margin-bottom: 1.25rem;
}

.is-index .is-projects__card .nav-pills {
  margin-right: -.5rem;
}

.is-index .is-projects__card .nav-pills .nav-link {
  padding: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F5FAFF;
  border: 1px solid #008ED8;
  box-sizing: border-box;
  border-radius: 3px;
  margin: 0;
  margin-bottom: .625rem;
}

.is-index .is-projects__card .nav-pills .img {
  padding: 1.25rem;
  border-right: 1px solid #EDF1F4;
  max-width: 84px;
  width: 100%;
}

.is-index .is-projects__card .nav-pills .text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: .75rem;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #008ED8;
  padding: 1.25rem .5rem;
}

.is-index .is-projects__card .nav-pills .arrow {
  padding: 1.25rem .75rem;
}

.is-index .is-projects__card .is-projects__btn {
  margin-top: 1rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #008ED8;
  border-radius: 3px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 110%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 1.125rem;
}

.is-index .is-projects__card .uk-slider .uk-card {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.is-index .is-projects__card .uk-slider .uk-card-body {
  padding: 1.25rem 0 2rem;
}

.is-index .is-projects__card .uk-slider .uk-card-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #191F22;
  margin-bottom: 1rem;
}

.is-index .is-projects__card .is-card-author {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  color: #191F22;
  opacity: 0.5;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  border-top: 1px solid #E4ECF4;
}

.is-index .is-projects__card .is-card-date {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  color: #191F22;
  opacity: 0.5;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.is-index .is-projects__card .uk-slider .uk-icon {
  margin: 0;
  bottom: 1.25rem;
}

.is-index .is-projects__card .uk-slider .uk-icon.uk-slidenav-next {
  right: 1.25rem;
}

.is-index .is-projects__card .uk-slider .uk-icon.uk-slidenav-previous {
  left: 1.25rem;
}

.is-index .is-projects__card .uk-slider .uk-dotnav {
  margin-left: 0;
  position: absolute;
  bottom: 1.7rem;
  left: 0;
  right: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}

.is-index .is-projects__card .uk-slider .uk-dotnav > * > * {
  border: none;
  width: 6px;
  height: 6px;
  background: #191F22;
  opacity: 0.2;
}

.is-index .is-projects__card .uk-slider .uk-dotnav > .uk-active > * {
  width: 10px;
  height: 10px;
  background: #008ED8;
  border: 1px solid #008ED8;
  box-sizing: border-box;
  opacity: 1;
}

.is-index .is-projects__card .uk-slider .uk-icon svg {
  display: none;
}

.is-index .is-projects__card .uk-slider .is-card-last-name {
  margin-bottom: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 130%;
  color: #191F22;
}

.is-index .is-projects__card .uk-slider .is-card-first-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  color: #191F22;
}

.is-index .is-projects__card .uk-slider .is-card-staff-position {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 150%;
  color: #191F22;
  opacity: 0.5;
}

.is-index .is-quiz {

}

.is-index .is-quiz__content {
  padding: 1.8125rem 1.25rem 1.25rem;
  background: #FFFFFF;
  border: 1px solid #E9F0F8;
  box-sizing: border-box;
  border-radius: 5px;
  display: block;
  width: 100%;
}

.is-index .is-quiz__content .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 120%;
  color: #191F22;
  margin-bottom: 1.25rem;
}

.is-index .is-quiz__content .description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 150%;
  color: #191F22;
}

.is-index .is-quiz__content .btn {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #008ED8;
  border-radius: 3px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 110%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 1.125rem 2.875rem;
}

.is-index .is-quiz__banner {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 100%;
  background-image: url(../img/quiz_banner_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  border-radius: 5px;
}

.is-index .is-quiz__banner a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
}

.is-index .is-links {
  padding: 1.8125rem 1.25rem 1.25rem;
  background: #FFFFFF;
  border: 1px solid #E9F0F8;
  box-sizing: border-box;
  border-radius: 5px;
}

.is-index .is-links__title {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 120%;
  color: #191F22;
  border-bottom: 1px solid #E4ECF4;
  padding-bottom: .5rem;
}

.is-index .is-links .uk-slider li {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.is-index .is-links .uk-slider .uk-card-default {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #FFFFFF;
  border: 1px solid #E4ECF4;
  box-sizing: border-box;
  padding: 1.25rem;
  max-width: 220px !important;
  width: 100%;
}

.is-index .is-links .uk-slider .uk-card-body {
  padding: 0 !important;
}

.is-index .is-links .uk-slider .uk-card-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 130%;
  text-align: center;
  color: #191F22;
}

.is-index .is-links .uk-slider .uk-dotnav {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}

.is-index .is-links .uk-slider .uk-dotnav > * > * {
  border: none;
  width: 6px;
  height: 6px;
  background: #191F22;
  opacity: 0.2;
}

.is-index .is-links .uk-slider .uk-dotnav > .uk-active > * {
  width: 10px;
  height: 10px;
  background: #008ED8;
  border: 1px solid #008ED8;
  box-sizing: border-box;
  opacity: 1;
}

.is-index .is-links .uk-slider .uk-icon {
  margin: 0;
  bottom: -2.5rem;
}

.is-index .is-links .uk-slider .uk-icon.uk-slidenav-previous {
  right: 2.5rem;
}

.is-index .is-links .uk-slider .uk-icon svg {
  display: none;
}

.is-index .is-cities {
  background: #FFFFFF;
  border: 1px solid #E9F0F8;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 1.8125rem 1.25rem;
}

.is-index .is-cities__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 120%;
  color: #191F22;
  padding-bottom: 1rem;
  border-bottom: 1px solid #E4ECF4;
  margin-bottom: 1.25rem;
}

.is-index .is-cities__item {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 140%;
  color: #191F22;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}

.is-index .is-cities__item .img {
  max-width: 48px;
  width: 100%;
  margin-right: 1rem;
}

.is-index .is-banners {
  margin-bottom: 1rem;
}

.is-index .is-banners__item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.is-index .is-banners__item .default {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/banners_default.png);
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 100%;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  height: 100%;
  min-height: 200px;
  border-radius: 5px;
}

.is-index .is-banners__item.international {
  background:linear-gradient(0deg, rgba(0, 142, 216, 0.7), rgba(0, 142, 216, 0.7)), url(../img/banners_international.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.is-index .is-banners__item.massmedia {
  background: linear-gradient(0deg, rgba(33, 175, 90, 0.7), rgba(33, 175, 90, 0.7)), url(../img/banners_massmedia.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  border-radius: 5px;
}

.is-index .is-banners__item .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
}

.is-page .is-footer {
  background: linear-gradient(90deg, #00466E 0%, #009AD2 51.04%, #0A34D0 100%);
  padding: 1.875rem 1.625rem;
}

.is-page .is-footer .logos {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.is-page .is-footer .logos .img {
  max-width: 90px;
  width: 100%;
  margin-right: 1.25rem;
}

.is-page .is-footer .logos .text .address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
  margin-bottom: .625rem;
}

.is-page .is-footer .logos .text .copyright {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 140%;
  color: #FFFFFF;
  opacity: 0.5;
  margin-bottom: 0;
}

.is-ppage .is-footer .contacts {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.is-page .is-footer .contacts .link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  color: #FFFFFF !important;
  line-height: 1;
  margin-bottom: 0;
}

.is-page .is-footer .contacts .info p br {
  line-height: 1;
}

.is-page .is-footer .is-footer__mistake p {
  margin-bottom: 0;
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
}

.is-page .is-footer .is-footer__developer {
  transition: all .625s;
}

.is-page .is-footer .is-footer__developer a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 140%;
  color: #FFFFFF;
  opacity: 0.5;
  transition: all .625s;
}

.is-page .is-footer .is-footer__developer svg g {
  transition: opacity .625s;
}

.is-page .is-footer .is-footer__developer:hover a {
  opacity: 1;
  transition: all .625s;
}

.is-page .is-footer .is-footer__developer:hover svg g {
  opacity: 1;
  transition: opacity .625s;
}

.is-index .is-cities .is-cities__map path {
  transition: all .625s;
}

.is-index .is-cities .is-cities__map path:hover  {
  fill: #2B5D84;
  transition: all .625s;
}
